#Start {
    display: flex;
    overflow: hidden;
    .customer-site-container {
        width: 50%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        .customer-site {
            width: 50%;
            height: 50%;
            border: 2px solid blue;
            img {
                border: 2px solid brown;
                height: 60%;
            }
            h1 {
                height: 10%;
                text-align: center;
            }
            p {
                height: 30%;
            }
        }
    }
    .admin-site-container {
        width: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .admin-site {
            width: 50%;
            height: 50%;
            border: 2px solid blue;
            img {
                border: 2px solid brown;
                height: 60%;
            }
            h1 {
                height: 10%;
                text-align: center;
            }
            p {
                height: 30%;
            }
        }
    }
}